* {
	font-family: P22 Underground, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: white;
	margin: 0;
}

.captionLeft{
	text-align: left;
	font-family: futura;
	font-size: 14px;
}

.captionRight{
	text-align: right;
	font-family: futura;
	font-size: 14px
}

.mainImg{

}

.menuImg{

}

.locationDeliveryImg{

}

.aboutImg{

}

.captionBottom{

}

.dropdown{
	float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
	font-size: 18px;
  color: #2b264f;
  background-color: #F0EFE9;
  font-family: Futura;
}

.dropdown-content{
	 display: none;
  position: absolute;
  background-color: #F0EFE9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0pX
  z-index: 1
}

.dropdown-content a {
  float: none;
  color: #2b264f;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #F0EFE9;
}

.dropdown:hover .dropdown-content {
  display: none;
}

.mainNav {
	background-color: #F0EFE9;
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 1000;
	opacity: .9;
}

.mainNav *{
	font-size: 18px;
	color: #2b264f;
	padding: 20px;
	text-decoration: none;
	display: inline-block;

}

.mainNav a:hover {
	background-color: #2b264f;
	color: white;
}

.mainNav .icon {
	display: none;
	color: #2b264f;
	background-color: #F0EFE9;
	position: right;
	height: 61.5px; 


}

@media screen and (max-width: 600px){
	.mainNav a {display: none;}
	.mainNav a.icon {display: block; float: right;}

}

@media screen and (max-width: 600px){
	.mainNav.responsive {position: relative;}
	.mainNav.responsive .icon {position: absolute;
		top: 0;
		right: 0;}

	.mainNav.responsive a{
		display: block;
		text-align: center;
	}
}


