* {
	font-family: P22 Underground, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: white;
	margin: 0;
}

.captionLeft{
	text-align: left;
	font-family: p22 Underground;
	font-size: 14px;
}

.captionRight{
	text-align: right;
	font-family: p22 Underground;
	font-size: 14px
}

.captionBottom{
	text-align: center;
	font-family: p22 Underground;
	font-size: 14px;
}

.overlay{
	opacity: .75;
	width: 100%;
	max-height: 100%;
}

.mainImg{
	background-position: center;
	background-repeat: no-repeat;
	background-size:inherit;
	width: 100%;

}

.menuImg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

}

.locationDeliveryImg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.aboutImg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

}

.dropbtn {
  background-color: #F0EFE9;
  color: white;
  padding: 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2b264f;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.dropdown {
  position: none;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.text{
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: #2b264f;
}

.text2{
	color: black;
	font-size: 45px;
	font-family: futura;
	font-weight: medium;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
}

.link{ 
	float: right;
	text-decoration: none;
}


.mainNav {
	background-color: #F0EFE9;
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 1000;
	opacity: .9;
	height: 60px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.mainNav *{
	font-size: 18px;
	color: #2b264f;
	padding: 15px;
	text-decoration: none;
	display: inline-block;

}

.mainNav a:hover {
	background-color: #2b264f;
	color: white;
	height: 60px;
}

.mainNav .icon {
	display: none;
	color: #2b264f;
	background-color: #F0EFE9;
	position: right;
	height: 60px;
}

.mainImg, .menuImg, .locationImg, .aboutImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay{
	background-color: white;
	height: 100%;
	width: 100%;
	opacity: 75%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: .5s ease;
}

@media screen and (max-width: 600px){
	.mainNav a {display: none;}
	.mainNav a.icon {display: block; float: right;}

}


@media screen and (max-width: 600px){
	.mainNav.responsive {position: relative;}
	.mainNav.responsive .icon {position: absolute;
		top: 0;
		right: 0;}

	.mainNav.responsive a{
		display: block;
		text-align: center;
	}
}

@media only screen and (max-width: 600px){
  .mainImg, .menuImg, .locationImg, .aboutImg{
    background-attachment: scroll;
  }

}


.show{ display: block; }

